.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: #1b6bce;
    color: aliceblue;
    z-index: 1050;
    display: flex;
    align-items: center;
    padding: 0 1rem;
}
.navbar .logo {
    display: flex;
    align-items: center;
    margin-right: auto;
    
}
/* navigation links */
.nav-link {
    color: rgb(94, 95, 97);
    margin: 0 10px;
    text-decoration: none;
    transition: color 0.3s ease;
}
/* Hover effect for links */
.nav-link:hover {
    color: #9cf7e9f0;
}
/* Responsive navbar */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        
        height: auto;
        
    }
}
.content {
    margin-top: 60px;
  
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 1rem;
}
.db-connection-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/assets/backimage.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.8;
    z-index: -1;
}
.db-connection-content {
    position: relative;
    z-index: 1;
}